// Place all the styles related to the Root controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#root {
  font-family: "Open Sans";
}

.main {
  position: absolute;
  top: 46px;
  width: 100%;
}

.btn {
  letter-spacing: 1px;
}

.session-form {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  top: 100px;
  z-index: 5;
}

.session-form form {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}



.nav-bar {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 46px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #333333;
}

.nav-buttons {
  display: flex;
  flex-direction: row;
  margin-right: 60px;
}

.logged-out-buttons {
  position: relative;
  right: 25%;
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.profile-link {
  display: flex;
  flex-direction: row;
  margin-right: 25px;
  align-items: center;
}

.profile-link > span {
  color: #ccc;
  font-size: 13px;
}

.profile-link > span:hover {
  color: white;
}

.upload-btn {
  color: #ccc;
  font-size: 13px;
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 14px;
  font-size: 13px;
}

.upload-btn:hover {
  color:white;
}

.nav-upload {
  display: flex;
  justify-content: center;
  margin-right: 15px;
}

.nav-prof-img {
  height: 27.5px;
  width: 27.5px;
  align-items: center;
  border-radius: 50%;
  margin-right: 8px;
  padding: 5px;
}

#signin-btn {
  position: relative;
  padding: 10px;
  margin-top: 4.25px;
  color: white;
  background-color: #333333;
  border: 1px solid #666;
  margin-right: 15px;
  border-radius: 3px;
  height: 5px;
  width: 47.5px;
  font-size: 12px;
}

#signin-btn:hover {
  border: 1px solid #FFFFFF;
}

#signup-btn {
  position: relative;
  padding: 10px;
  margin-top: 4.25px;
  color: white;
  background-color: #f50;
  margin-left: 5px;
  border: 1px solid #f50;
  border-radius: 3px;
  height: 5px;
  width: 100px;
  font-size: 12px;
}

#signout-btn {
  position: relative;
  padding: 10px;
  margin-top: 10px;
  background-color: #333333;
  border: 1px solid #999999;
  margin-right: 15px;
  border-radius: 3px;
  height: 5px;
  font-size: 12px;
  color: #ccc;
}

#signout-btn:hover {
  border: 1px solid #FFFFFF;
}

#signout-btn p {
  margin-left: 10px;
}

.nav-logo {
  height: auto;
  width: 80.25px;
  margin-left: 98px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.button-text {
  margin-bottom: 2px;
}

.stream-link {
  display: flex;
  flex-direction: row;
}

.nav-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 1.4px solid black;
  width: 100px;
}

.nav-home > span {
  text-align: center;
  color: #ccc;
  font-size: 13px;
}

.nav-home > span:hover {
  color: white;
}

.home-selected {
  background-color: #111;
}

.white-text {
  color: white !important;
}
