
// Place all the styles related to the Session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.modal {
  position: absolute;
  background: rgba(257, 257, 257, 0.4);
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  align-items: center;
}

.modal-screen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.modal-form {
  margin: 0 auto;
  width: 400px;
  height: 620px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 36px;
  line-height: 1;
  cursor: pointer;
}

.modal-close:hover {
  color: #f00;
}

.modal-form > h2 {
  font-size: 36px;
  line-height: 1;
  font-weight: 300;
}

.modal-form > p {
  margin: 0 0 20px 0;
}

.submit-btn {
  position: relative;
  background-color: #f50;
  color: white;
  border: 1px solid #f50;
  border-radius: 3px;
  width: 345px;
  height: 40px;
  font-size: 16px;
  top: -60px;
  text-align: center;
}

.form-input {
  position: relative;
  width: 325px;
  font-size: 18px;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid lightgrey;
}

.form-errors {
  position: relative;
  list-style: none;
  color: #f50;
  right: 15px;
  top: -25px;
  margin-bottom: 5px;
  margin-top: 25px;
}

.gray-out {
  background: rgba(0, 0, 0, 0.1);
}

#close-modal-button {
  position: relative;
  left: 45%;
  color: lightgrey;
}

.modal-form > img {
  position: relative;
  margin: 0;
  text-align: center;
  font-size: 16px;
  width: 65%;
  color: white;
}
