.tracks-list {
  margin-top: 50px;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: scroll;
}

.track {
  margin: 25px;
  width: 1000px;
  border: 1px solid lightgrey;
}

.track-img {
  height: 100px;
  width: 100px;
}
