.upload-page {
  position: fixed;
  top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 1px solid lightgray;
  padding: 30px;
}

.upload-page > h1 {
  position: relative;
  margin: 0 auto;
  font-size: 26px;
}

.upload-submit-btn {
  background-color: #f50;
  color: white;
  border: 1px solid #f50;
  border-radius: 3px;
  width: 345px;
  height: 40px;
  font-size: 16px;
  text-align: center;
  margin-top: 20px;
}

.upload-img {
  width: 200px;
  height: 200px;
}

.upload-form-inputs {
  padding: 15px;
}

.upload-form-input {
  position: relative;
  width: 325px;
  font-size: 18px;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid lightgrey;
}
