.upload-page {
  position: relative;
  margin: 0 auto;
  top: 35px;
  width: 500px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 1px solid lightgray;
  margin-bottom: 65px;
  color: #333;
}

.upload-page > h1 {
  position: relative;
  margin: 0 auto;
  font-size: 26px;
}

.upload-submit-btn {
  background-color: #f50;
  color: white;
  border: 1px solid #f50;
  border-radius: 3px;
  width: 345px;
  height: 40px;
  font-size: 16px;
  text-align: center;
}

.upload-img {
  width: 200px;
  height: 200px;
  margin-bottom: 15px;
}

.upload-form-input {
  position: relative;
  width: 325px;
  font-size: 18px;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid lightgrey;
}

.choose-file {
  margin-left: 10px;
}

.file-flex {
  margin-left: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.upload-errors {
  color: #f50;
}
